---
Checks:          '-*,cppcoreguidelines-avoid-goto,cppcoreguidelines-pro-type-const-cast, google-readability-casting, google-runtime-int, modernize-replace-random-shuffle, modernize-use-nullptr, readability-braces-around-statements, readability-container-size-empty, readability-redundant-control-flow, readability-redundant-string-init, google-build-using-namespace'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
CheckOptions:
  - key: google-runtime-int.TypeSuffix
    value: _t
